# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries by Data Scientists
- Show Data Science Tools in a table
- Demonstrate arithmetic expresions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. SPSS

Some of the commonly used libraries used by Data Scientists include:
1. numPy
2. Pandas
3. Tensorflow
4. Scikit-Learn

| Data Science Tools |
| ----- |
| Jupyter Notebooks |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [19]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Eddie B